= form.error_messages
.text_field
  .grid_2.prefix_2= form.label :email
  .grid_2= form.text_field :email
  .clear nbsp;
.text_field
  .grid_2.prefix_2= form.label :password
  .grid_2= form.password_field :password
  .clear nbsp;
.text_field
  .grid_2.prefix_2= form.label :password_confirmation
  .grid_2= form.password_field :password_confirmation
  .clear nbsp;