= render :partial => '/features/show'

%h1 Listing stories

.grid_2.prefix_2
  %p Title
.grid_5
  %p Description
.clear &nbsp;

- @stories.each_with_index do |story,index|
  %div{:id => "story_line_#{index}"}
    .grid_2.prefix_2
      %p= story.title
    .grid_5
      %p= story.description
    .grid_2
      = link_to "Show", feature_story_path(@feature, story)
      = link_to "Edit", edit_feature_story_path(@feature, story)
      = link_to "Destroy", feature_story_path(@feature, story), :method => 'delete', :confirm => 'Are you sure?'
    .clear &nbsp;

= link_to 'New story', new_feature_story_path(@feature)
= link_to "Back To Features", features_path
