.grid_3
  .form_input
    = select_tag "scenario[steps_attributes][#{stype}][children_attributes][#{index}][keyword_id]", scenario_step_link_keyword_select_tag
.grid_5
  .form_input.text_area
    = text_area_tag "scenario[steps_attributes][#{stype}][children_attributes][#{index}][instruction]", nil, :rows => 3, :cols => 40
.clear &nbsp;
    