- content_for :js do
  :javascript
    var substeps_index = 0;
    function get_substep_index()
      {
        substeps_index += 1;
        return substeps_index;
      }
    function substep_definition(stype)
      {
        index = get_substep_index();
        prefix = "scenario[steps_attributes]["+stype+"][children_attributes]["+index+"]";
        output = "<div id='substep_"+index+"'";
        output += "<select name='"+prefix+"[keyword_id]' id='substep_keyword_'"+index+">";
        output += "#{scenario_step_link_keyword_select_tag}";
        output += "</select>";
        output += "<textarea rows='1' name='"+prefix+"[instruction]' id='substep_instruction_'"+index+" cols='50'/>";
        output += "<a onclick=\"$('#substep_"+index+"').remove(); return false;\" href=\"#\"><img src=\"/images/feature/minus_12x12.png\" alt=\"Minus_12x12\"/></a>"
        output += "</div>";
        return output;
      }
= plus_link_to_function  "$('#substeps_#{stype}').append(substep_definition('#{stype}'));"
%div{:id => "substeps_#{stype}" }