= plus_link_to_function  "$('#substeps_#{stype}').append(substep_definition('#{stype}'));$('##{stype} * textarea').bt({trigger: ['focus', 'blur'], positions: ['right']});"
%div{:id => "substeps_#{stype}" }