.grid_16.alpha.form
  %h1= "#{t(:new_sub_step_for)} - #{t(:scenario)}: #{@scenario_step.scenario.title} / #{t(@scenario_step.keyword)}: #{@scenario_step.instruction}"
  - form_for(:scenario_step, @sub_step, :url => scenario_step_sub_steps_path(@scenario_step)) do |f|
    = f.error_messages
    .grid_3
      .form_label= f.label :keyword_id, t(:keyword_link)
    .grid_5
      .form_input= f.select :keyword_id, scenario_step_link_keyword_select
    .clear &nbsp;
    .grid_8
      .form_label= f.label :instruction, t(:step_instruction)
      .form_input.text_area= f.text_area :instruction, :rows => 3, :cols => 50, :title => t("instruction_step_#{@scenario_step.keyword}".to_sym, :scope => [:help,:scenario]), :class => 'form_help'
    .clear &nbsp;
    .grid_8= f.submit t(:add)
    .clear &nbsp;
  .top_spacer= link_to t(:back), feature_path(@scenario_step.scenario.feature)
.clear &nbsp;