.feature.grid_7.alpha
  .grid_1
    .feature_header
      Feature
  .grid_5
    .feature_title
      = feature.title
  .clear &nbsp;
  .grid_7
    .feature_why
      = feature.why
  .clear &nbsp;
  .grid_7
    .feature_who
      = feature.who
  .clear &nbsp;
  .grid_7
    .feature_what
      = feature.what
  .clear &nbsp;
  - feature.scenarios.each do |scenario|
    .scenario.grid_7.alpha
      .grid_2
        .scenario_header
          Scenario
      .grid_4
        .scenario_title
          = scenario.title
      .grid_1= link_to 'new_step', new_scenario_scenario_step_path(scenario)
      .clear &nbsp;
      - scenario.main_steps.each do |step|
        .grid_1.prefix_1
          .scenario_keyword
            = step.keyword
        .grid_5
          .scenario_step
            = step.instruction
        .clear &nbsp;
        - step.children.each do |child_step|
          .grid_1.prefix_1
            .scenario_link_keyword
              = child_step.keyword
          .grid_5
            .scenario_step
              = child_step.instruction
          .clear &nbsp;
    .clear &nbsp;
.clear &nbsp;
