%h1= t(:listing_features)
.table_header.grid_4
  %p= Feature.human_attribute_name 'title'
.table_header.grid_7
  %p= Feature.human_attribute_name 'what'
.clear &nbsp;

- @features.each_with_index do |feature, index|
  %div{:id => "feature_line_#{index}"}
    .grid_4
      %p= feature.title
    .grid_5
      %p= feature.what
    .grid_1
      = link_to t(:show), feature_path(feature)
    .grid_1
      = link_to t(:delete), feature_path(feature), :method => 'delete', :confirm => 'Are you sure?'
    .clear &nbsp;
= link_to t(:new_feature), new_feature_path
