%h1 New feature

- form_for(@feature) do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :in_order_to
    %br
    = f.text_area :in_order_to
  %p= f.submit "Create"
= link_to 'Back', features_path