.grid_8.alpha.form
  %h1= t(:new_feature)
  - form_for(@feature) do |f|
    = f.error_messages
    .form_label= f.label :title
    .form_input= f.text_field :title, :size => 50
    .form_label= f.label :why
    .form_input.text_area= f.text_area :why, :rows => 3, :cols => 50
    .form_label= f.label :who
    .form_input= f.text_field :who
    .form_label= f.label :what
    .form_input.text_area= f.text_area :what, :rows => 3, :cols => 50
    = f.submit t(:create)
  .top_spacer= link_to t(:back), features_path
.clear &nbsp;