- width = 60
= "#{t(:feature)}: #{ @feature.title }".wrap(width,4)
= "  #{@feature.why}".wrap(width,2)
= "  #{@feature.who}".wrap(width,2)
= "  #{@feature.what}".wrap(width,2)
- @feature.scenarios.each do |scenario|
  = "  #{t(:scenario)}: #{scenario.title}".wrap(width,4)
  - scenario.main_steps.each do |step|
    = "    #{t(step.keyword)} #{step.instruction}".wrap(width,4)
    - step.children.each do |child_step|
      = "    #{t(child_step.keyword)} #{child_step.instruction}".wrap(width,4)