<p>
  <b>Title:</b>
  <%=h @feature.title %>
</p>

<p>
  <b>In order to:</b>
  <%=h @feature.in_order_to %>
</p>

<%= link_to "Add Story", new_feature_story_path(@feature) %>
<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
