- if current_user
  = t(:logoed_as, :scope => [:top_login_bar])
  = current_user.email
  |
  = link_to t(:logout, :scope => [:top_login_bar]), session_path, :method => :delete
- else
  = link_to t(:sign_in), new_session_path
  |
  = link_to t(:sign_up), new_user_path
  |
  = link_to t(:forgot_password?, :scope => [:top_login_bar]), new_password_path